body {
  background-color: rgb(24, 26, 27);
  min-height: 100vh;
  color: #ffffff;
  margin: 0;
  font-size: 65.5%;
}

.container {
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding-top: 10%;

  input {
    font-size: 1rem;
    border-radius: 4.5px;
    border: none;
    padding: 10px;
  }

  .destination_currency input {
    color: #ffffff;
    background: none;
  }

  select {
    font-size: 1rem;
    margin-left: 8px;
    border-radius: 4.5px;
    padding: 7px;
  }

  .sym {
    font-size: 2rem;
    margin: 20px 0px;
  }

  .invert {
    margin: auto;
    cursor: pointer;
    transform: rotate(90deg);
    transition: all ease 0.2s;
    padding: 20px;

    &:hover {
      transition: all ease 0.2s;
      color: #7040af;
    }
  }

  button {
    display: none;
  }

  .card-block {
    display: flex;
    justify-content: space-between;
    max-width: 390px;
    margin: auto;
    margin-top: 40px;
  }
}