body {
  //background: image-url("/background-img.jpg") no-repeat center center fixed;
  background-color: #2d1152;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

.container {
  margin: auto;
  max-width: 500px;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .content {
    margin-bottom: 100px;
  }
}

.exchange_box {
  margin-top: 30px;
}

.card-block {
  margin-top: 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  max-width: 400px;
  form {
    button {
      display: none;
    }
  }

  .sym {
    margin: 20px;
    font-size: 32px;
  }
  .invert {
    cursor: pointer;
    transform: rotate(90deg);
    transition: all ease 0.3s;
    &:hover {
      transition: all ease 0.3s;
      color: #7040af;
    }
  }
}

.destination_currency, .local_currency {
  input, select {
    border-radius: 3px;
    padding: 5px;
  }
}

